body{
    padding: 0;
    margin: 0;
    background-image: url(https://png.pngtree.com/background/20230614/original/pngtree-music-recording-studio-with-a-large-monitor-desk-picture-image_3493934.jpg);
    background-size: 100% 100%;
    
}


.totalKey{
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.key{
    width: 70px;
    height: 70px;
    border: 3px solid rgb(164, 35, 35);
    border-radius: 15px;
    background: rgba(11, 11, 11, 0.768); 
    color: rgb(29, 189, 63);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;

    transition: all 0.3s;

}

.playing{
    transform: scale(1.1);
    border-color: rgb(219, 24, 24);
    box-shadow: 0 0 5px  rgb(219, 24, 24);
}

.key:hover{
    border: 4px solid rgb(219, 24, 24);
    box-shadow: 0 0 10px  rgb(219, 24, 24);
    
}

kbd{
    font-size: x-large;
    display: flex;
    justify-content: center;
    color: aliceblue;
}