:root{
    --base: #ffffff;
    --blur: 10px;
    --space: 10px;
}

body{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 103, 183);
    
}

span{
    color: var(--base);
}

img{
    border: 0;
    border-radius: 20px;
    padding: var(--space);
    background: var(--base);
    filter: blur(var(--blur));
}
.control{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--base);
}